@model List<StudentDto>

<table class="table table-bordered table-striped" id="tbStudents">

	<thead>
		<tr>
			<th>ADI</th>
			<th>SOYADI</th>
			<th>DOĞUM TARİHİ</th>
			<th></th>
		</tr>
	</thead>

	<tbody>

		@foreach (var item in Model)
		{
			<tr>
				<td>@item.FirstName</td>
				<td>@item.LastName</td>
				<td>@item.BirthDate.ToShortDateString()</td>

				<td>
					<a data-toggle='modal' data-target='#messageBox' href='#' onclick="Student.GetStudentCoursesPopUp('@(item.FirstName + " " + item.LastName)','@item.Id')">DERS LİSTESİ</a></td>
				<td><a href="#" onclick = "Student.GetCourseManager('@item.Id')"> DERSLERİ YÖNET </a></td>
				
			</tr>
		}

	</tbody>
</table>

<script>
	$(function () {
		$("#tbStudents").DataTable();
	});
</script>